{{! UniQuiz © 2026 Tamas Kery. GNU GPL v3 or later. }}
<article class="container">
  <h2>{{#str}}guidetitle, qbank_uniquiz{{/str}}</h2>
  <p>{{lang.ui_open_uniquiz_from_the_question_bank_menu_choose__1059cdb4}}</p>
  <h3>{{lang.ui_basic_csv_9354212e}}</h3>
  <pre>question_text,answer_1,answer_2,answer_3,correct
What is the capital of Hungary?,Vienna,Budapest,Prague,B
Select the prime numbers,2,3,4,"A,B"</pre>
  <p>{{lang.ui_basic_csv_makes_multiple_choice_questions_the_co_bbc9a128}}</p>
  <p><a href="{{baseurl}}/examples/uniquiz-template.csv" download>{{lang.ui_download_basic_csv_1eaddc87}}</a></p>
  <h3>{{lang.ui_advanced_csv_9e103aa8}}</h3>
  <p>{{lang.ui_use_c36d819e}} <code>type</code> {{lang.ui_to_mix_85085280}} <code>multichoice</code>, <code>truefalse</code>, <code>shortanswer</code>, <code>numerical</code>, <code>essay</code> {{lang.ui_and_6201111b}} <code>description</code>{{lang.ui_optional_fields_include_question_name_category_g_5b7891b9}}</p>
  <p>{{lang.ui_for_multiple_choice_positive_fractions_must_tota_4dec0c89}}</p>
  <p>{{lang.ui_the_two_column_question_answer_shorthand_accepts_9210958d}}</p>
  <p><a href="{{baseurl}}/examples/uniquiz-advanced-template.csv" download>{{lang.ui_download_advanced_csv_320bfe67}}</a> · <a href="{{baseurl}}/examples/uniquiz-question-types.csv" download>{{lang.ui_download_all_six_types_8afed5c8}}</a></p>
  <h3>{{lang.ui_structured_txt_and_aiken_cf4aa23c}}</h3>
  <pre>What is the capital of Hungary?
A. Vienna
B. Budapest
ANSWER: B</pre>
  <p>{{lang.ui_separate_questions_with_blank_lines_structured_t_49f7f931}}</p>
  <h3 id="faq">{{lang.ui_review_and_import_7ad4a60a}}</h3>
  <p>{{lang.ui_errors_block_the_complete_bank_including_questio_276b6544}}</p>
  <p>{{lang.ui_shuffle_and_answer_label_settings_apply_to_multi_409c1e76}}</p>
  <p>{{lang.ui_at_the_final_step_select_a_destination_category__929dd083}}</p>
  <p>{{lang.ui_direct_import_accepts_up_to_500_questions_and_8__0af0cb27}}</p>
  <p>{{lang.ui_question_text_multiple_choice_answers_and_feedba_2ebc2b65}}</p>
  <p>{{lang.ui_server_validation_errors_identify_the_question_a_bfc079bd}}</p>
  <p>{{lang.ui_direct_import_also_limits_each_question_to_100_a_4cb5a0e3}}</p>
  <h3>{{lang.ui_privacy_and_languages_404cc5d2}}</h3>
  <p>{{lang.ui_file_reading_mapping_analysis_search_and_preview_b2745cff}}</p>
  <p>{{lang.ui_the_interface_and_diagnostics_follow_moodle_s_la_c7f1a7b3}}</p>
</article>
